dot_config/exercism
dot_config/coc
dot_config/chezmoi
dot_config/iterm2
dot_config/nvim/plugin
dot_config/raycast/private_config.json
dot_config/dot_DS_Store
dot_config/kitty/dot_DS_Store
dot_config/raycast/extensions/6d35b3a5-ae12-48b1-b5de-616a22387eae
dot_config/kitty/kitty-icon/whiskers/dot_git
dot_config/kitty/kitty-icon/dot_DS_Store
dot_config/nvim/.idea
dot_config/nvim/dot_env
dot_config/zed/conversations
dot_config/zed/prompts/prompts-library-db.0.mdb
dot_config/zed/themes
